:root {
    --bg: #334;
    --fg: #fff;
    --sdInput: #fff;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font:
        16px Shantell Sans,
        Arial,
        sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

* {
    box-sizing: border-box;
}

body {
    padding: 5vw;
}

.hide {
    display: none;
}

@font-face {
    font-family: "Shantell Sans";
    src: url("/libs/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf") format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: "Shantell Sans";
    src: url("/libs/ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf") format("truetype-variations");
    font-weight: 1 999;
    font-style: italic;
}

h1 {
    font-size: 45px;
}

a {
    color: inherit;
}

.genre,
.tag,
.filter {
    background-color: var(--sdBackBase);
    color: var(--sdTextBase);
    padding: 5px 10px;
    border-radius: 1000px;
    margin: 5px 5px 5px 0;
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.inline .genre:not(:last-of-type):after,
.inline .tag:not(:last-of-type):after {
    content: ",";
    margin-right: 5px;
}
