@use "base.scss";

.editInput,
.editInput.searchdown {
    display: none;
}

.bookField {
    display: inline-block;
}

p.bookField,
a.bookField,
#genreField,
#tagField {
    margin: 10px 0;
}

#genreField,
#tagField {
    display: inline-block;
    margin: 5px;

    a.bookField {
        margin: 0 5px 0 0;
    }
}

body.edit {
    .editInput {
        display: block;
    }

    .bookField {
        display: none;
    }

    #imgWrapper:has(img[src=""].bookField, img[src="null"].bookField) {
        display: block;
    }

    #imgWrapper span {
        min-height: 250px;
        display: none;
        cursor: pointer;
    }

    #buttons .editInput {
        display: inline-block;
    }

    #imgWrapper label {
        display: block;
        text-align: center;

        &:has(#cover[src=""]),
        &:has(#cover[src="null"]) {
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;

            & span {
                display: block;
            }

            & ~ #clearCover {
                display: none;
            }
        }
    }
}

#imgWrapper {
    float: left;
    width: 50%;
    padding-right: 30px;
    min-height: 250px;
    display: table;
    position: relative;
}

img {
    box-shadow: 0 0 15px -5px black;
    object-fit: contain;
}

#imgWrapper:has(img[src=""].bookField, img[src="null"].bookField, img[src="undefined"].bookField) {
    display: none;
}

#nameInput {
    width: 100%;
}

#notesInput {
    font-family: inherit;
}

h1.bookField {
    display: block;
    margin: 30px auto;
}

#bookWrapper {
    width: 80vw;
    margin: 50px auto 0;
    box-shadow: 0 0 10px -5px black;
    overflow: auto;
    padding: 30px;
    border-radius: 10px;
}

.spacer {
    clear: both;
}

#buttons {
    width: 100%;
    text-align: center;
    button {
        margin: 20px 10px;
    }
}

span.label {
    font-weight: bold;
}
