doctype html
html
    head
        include common/head.pug
        +head()
        link(rel="stylesheet", href="/css/login.css")
    body
        include common/loader.html
        include common/body.pug
        +body()
        h1 Log In
        form(action="#", onsubmit="loginSubmit(this); return false")
            input(type="text", name="username", value="", placeholder="Username")#username
            input(type="password", name="password", value="", placeholder="Password")#password
            button Submit
        script(src="/js/login.js")
