mixin body(base, user)
    if base
        script(src="/js/base.js")
    if user
        a(href="javascript:void()", onclick="logout()")#loginLink Log out
    else
        a(href="./login")#loginLink Log in
    //shared menus, logo image etc goes here
